.header {
    clear: both;
    float: left;
    width: 100%;
    background: #292929;
    height: 42px;
    margin-top: 0;
}

.header ul {
    list-style: none;

}
.header ul li a{
    float: left;
    text-decoration: none;
    color: white;
    padding: 0 40px;
    height: 42px;
    line-height: 42px;
}
.header #search{
    float: right;
    color: white;
    padding: 0 40px;
    height: 42px;
    line-height: 42px;

}

.header ul li a:hover{
    background-color:#f20068;

}


.c{
    margin: auto;
    text-align: center;
    font-size: 3rem;
}

.container-contact{
    margin: auto;
    margin-top: 40px;
    width: 425px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 11%;
    box-shadow: 5px 8px 8px gray;
}

.btn{

    width: 125px;
    height: 40px;
    background-color: lightgreen;
    display: inline;
    font-weight: bold;

}

.btn-outline-secondary {
    color: blue;
    border-color: aliceblue;
}

.icon_color{
    color: white;
    font-size: x-large;
    padding: 3px;
}

@media screen and (min-width: 700px) {
    .col{
        box-sizing: border-box;
        width:31.7%;
        height:auto;
        display: inline-flex;
        margin-bottom: 10%;
        overflow: hidden;
    }
    .hover:hover{
        transform: scale(1.3);

    }
}

@media screen and (min-width: 1200px) {
    .col{
        box-sizing: border-box;
        width:24%;
        height:auto;
        display: inline-flex;
        margin-bottom: 10%;
        overflow: hidden;
    }

    .hover:hover{
        transform: scale(1.3);
        transition: .3s ease-in-out;

    }
}

.footer_{
    color: white;


}

footer{
    margin-top: 50px;
    background-color: #1b1e21;

}

